<!-- NOTE: MAKE SURE THAT settings.xml IS NOT WORLD READABLE! -->
<settings>
	<servers>
		<server>
			<id>github</id>
			<username>${env.GITHUB_API_USERNAME}</username>
	    		<password>${env.GITHUB_API_KEY}</password>
		</server>
		<server>
			<id>gh-pages</id>
			<username>git</username>
			<configuration>
				<scmVersionType>branch</scmVersionType>
				<scmVersion>gh-pages</scmVersion>
			</configuration>
		</server>
		<server>
			<id>your.keyname</id>
			<passphrase></passphrase>
		</server>
	</servers>
</settings>

